#gameBoard {
    background-color: white;
    margin: 20px;
    border: 20px solid;
    overflow: auto;
}

.front1 {
        color: black;                
        height: 200px;
        width: 150px;
        background: blue;
    } 

.back1 { 
        backface-visibility: hidden;      
        color: white;        
        height: 200px;
        width: 150px;
        background: blue;
        transform: rotateY(180deg);
    }

.front2 {       
        color: black;
        justify-content: flex-start;
        height: 200px;
        width: 150px;
        background: green;

    }

.back2 { 
        backface-visibility: hidden;
        color: white;        
        height: 200px;
        width: 150px;
        background: green;
        transform: rotateY(180deg);
    }

.front3 {       
        color: black;    
        height: 200px;
        width: 150px;
        background: orange;

    }

.back3 { 
        backface-visibility: hidden;
        color: white;       
        height: 200px;
        width: 150px;
        background: orange;
        transform: rotateY(180deg);
    }

.front4 {        
        color: black;        
        height: 200px;
        width: 150px;
        background: purple;

    }

.back4 { 
        backface-visibility: hidden;
        color: white;      
        height: 200px;
        width: 150px;
        background: purple;
        transform: rotateY(180deg);
    }

.front5 {        
        color: black;        
        height: 200px;
        width: 150px;
        background: tomato;

    }

.back5 { 
        backface-visibility: hidden;
        color: white;        
        height: 200px;
        width: 150px;
        background: tomato;
        transform: rotateY(180deg);
    }

.front6 {
        color: black;      
        height: 200px;
        width: 150px;
        background: grey;

    }

.back6 { 
        color: black;
        height: 200px;
        width: 150px;
        background: grey;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }

.front7 {
        color: black;
        height: 200px;
        width: 150px;
        background: yellow;     
    }

.back7 { 
        color: white;        
        height: 200px;
        width: 150px;
        background: yellow;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
.front8 {
        color: black;
        height: 200px;
        width: 150px;
        background: yellowgreen;     
        postition: relative;
        
    }
.back8 { 
        backface-visibility: hidden;
        color: white;
        position: relative;
        height: 100px;
        width: 100px;
        background: yellowgreen;
        transform: rotateY(180deg);
    }


 .flipCard {
        transform: rotateY(180deg)
    }

p {
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    margin: auto;
    justify-content: center;
    padding: 30px 5px 10px 5px; 
    border: 5px;
    height: 50px;
    width: 100px;
    border-radius: 100%;
  
}
.one {
  vertical-align: top;
  display: inline-block;

}

.two {
  vertical-align: top;
  display: inline-block;

}

.three {
  vertical-align: top;
  display: inline-block;

}
.four {
  vertical-align: top;
  display: inline-block;
}

.five {
  vertical-align: top;
   
  display: inline-block;
}

.six {
  vertical-align: top;
  
  display: inline-block;
}

.seven {
  vertical-align: top;
  
  display: inline-block;
}

.eight {
   vertical-align: top;
   
   display: inline-block;
}

.card {
  justify-content: center;
  align-items: center;
  position: auto;
}

.firstFour {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  
}

.lastFour{
  display: flex;
  text-align: center;
  justify-content: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  right: 50px;
}

.resetButton{
  align-items: center;
  justify-content: center;
  position: flex;
}

.playButton {
    justify-content: center;
    text-align: center;
    border: 1px solid green;
    margin: 20px;
    height: 100vh;
    width: auto; 
    position: relative;
    margin: 20px;
    padding: 100px;
    background-color: black;
    overflow: auto;
        }

  button{
    text-align: center;
    position: relative;
    top: 400px;
    
  
} 

.resetGame {
  align-items: center;
  text-align: center;
  justify-content: center;
  left: 650px;
  top: 100px;
 
}

.cardFlip {
        transform: rotateY(180deg)
    }
/*  .hide {
  display: none;

}  */
