*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  height: 100vh;
  background-color: thistle;
  display: flex;
}


.memory-game{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1200px ;
  height: 600px ;
}


.card{
  margin: 5px;
  width: calc(25% - 10px);
  height: calc(50% - 10px);
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}


/* .card :active {
  transform: scale(1);
  transition: transfprm .2s;
} */


.front,
.back{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
}


.front{
  transform: rotateY(180deg);
}


.card.flip {
        transform: rotateY(180deg);
    }



p {
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    margin: auto;
    justify-content: center;
    padding: 30px 5px 10px 5px; 
    border: 5px;
    height: 50px;
    width: 100px;
    border-radius: 100%;
  

}
.cutie{
  margin-left: 79%;
 
}


 .hide {
  display: none;
  align-items: center;
  margin-left: 10%;
} 


.play-game.hide{
  display: flex;
}


.playButton{
  margin-left: 119%;
  font-size: 60px;
  
}


.reset{
  margin-left: 45%;
  font-size: 48px;
  
}